html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
  box-sizing: border-box;
}
html {
  background: #edeff5;
}
body {
  width: 1366px;
  margin: 0 auto;
  background-color: #edeff5;
  font-family: 'Open Sans', sans-serif;
}
img {
  max-width: 100%;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 55;
}
header nav {
  position: relative;
  width: 1366px;
  padding: 0 16px;
  margin: 0 auto;
  background-color: #2a2d30;
}
header nav .brand-logo {
  display: inline-block;
  vertical-align: middle;
  padding: 0 48px 0 32px;
}
header nav .navigation-wrap {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}
header nav .navigation-wrap li {
  display: inline-block;
  position: relative;
}
header nav .navigation-wrap li a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #9da5be;
  padding: 24px 32px;
  transition: all .3s ease;
  font-size: 16px;
}
header nav .navigation-wrap li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  opacity: 0;
  transition: opacity .3s ease;
}
header nav .navigation-wrap li a.active {
  color: #fff;
}
header nav .navigation-wrap li a.active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  opacity: 1;
}
header nav .navigation-wrap li a:hover {
  color: #fff;
}
header nav .navigation-wrap li a:hover:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 1;
}
header nav .navigation-wrap li:nth-of-type(1)::after,
header nav .navigation-wrap li:nth-of-type(2)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 1px;
  height: 32px;
  background-color: #0a0a08;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
}
header nav #search-form {
  display: inline-block;
  position: absolute;
  right: 16px;
  top: 50%;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
}
header nav #search-form input[type=text] {
  width: 240px;
  position: relative;
  background-color: #000000;
  font: 300 12px 'Open Sans', sans-serif;
  font-style: italic;
  line-height: 1.5;
  color: #8c93b0;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 12px 12px 12px 32px;
  opacity: .5;
}
header nav #search-form i.ion-android-search {
  position: absolute;
  top: 50%;
  left: 12px;
  color: #8c93b0;
  z-index: -1;
  font-size: 14px;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
}
@media (max-width: 1366px) {
  header nav {
    width: 100%;
  }
}
.vehicle-name {
  background-color: #ffffff;
  padding: 16px 16px 12px;
  border-bottom: 1px solid #e6e8ee;
  font-size: 0;
  width: 1366px;
  margin: 0 auto;
}
.vehicle-name div h2 {
  font-size: 18px;
  text-align: left;
  color: #2f323a;
  padding-left: 20px;
  margin-bottom: 10px;
  position: relative;
}
.vehicle-name div h2::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 12px;
  height: 12px;
  border-radius: 4px;
  background-color: #50c14e;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
}
.vehicle-name div.sailplane {
  width: 728px;
  display: inline-block;
}
.vehicle-name div.airplane {
  width: calc(100% - 728px);
  display: inline-block;
  padding-left: 32px;
}
.vehicle-name div.airplane h2::before {
  background-color: #492a8b;
}
.vehicle-name div.sailplane span,
.vehicle-name div.airplane span {
  position: relative;
  display: inline-block;
  padding-top: 20px;
}
.vehicle-name div.sailplane span label,
.vehicle-name div.airplane span label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  line-height: 1.5;
  color: #9da5be;
}
.vehicle-name div.sailplane span input,
.vehicle-name div.airplane span input {
  margin-right: 8px;
  width: 192px;
  padding: 8px 24px 8px 12px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.57;
  border-radius: 4px;
  border: solid 1px #d1d7e9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.vehicle-name div.sailplane-type {
  font-size: 0;
}
.vehicle-name div.sailplane-type span:first-child {
  /*input {
            font-weight: 600;
            color: #50c14e;
            text-transform: uppercase;
          }*/
}
.vehicle-name div.sailplane-type span:first-child::after {
  content: '';
  position: absolute;
  left: 128px;
  top: 39px;
  height: 1px;
  width: 1098px;
  z-index: 0;
  background-color: #d1d7e9;
}
.vehicle-name div.sailplane-type span:last-child input {
  margin-right: 0;
}
.vehicle-name div.airplane-type {
  font-size: 0;
}
.vehicle-name div.airplane-type span {
  /*&:first-child {
          input {
            font-weight: 600;
            color: #492a8b;
            text-transform: uppercase;
          }
        }*/
}
.vehicle-name div.airplane-type span:nth-child(3) {
  padding-right: 28px;
}
.vehicle-name div.airplane-type span .label-engine {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  line-height: 1.5;
  color: #9da5be;
  cursor: default;
}
.vehicle-name div.vehicle-type {
  font-size: 0;
}
.vehicle-name div.vehicle-type span {
  position: relative;
  display: inline-block;
  padding-top: 20px;
}
.vehicle-name div.vehicle-type span:first-child::after {
  content: '';
  position: absolute;
  left: 128px;
  top: 39px;
  height: 1px;
  width: 1098px;
  z-index: 0;
  background-color: #d1d7e9;
}
.vehicle-name div.vehicle-type span i.ion-close-round {
  position: absolute;
  top: calc(59px - 20px);
  right: calc(25px - 8px);
  font-size: 12px;
  font-weight: 600;
  color: #d1d7e9;
  cursor: pointer;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
}
.vehicle-name div.vehicle-type span label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  line-height: 1.5;
  color: #9da5be;
}
.vehicle-name div.vehicle-type span input {
  margin-right: 8px;
  width: 192px;
  padding: 8px 25px 8px 12px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.57;
  border-radius: 4px;
  border: solid 1px #d1d7e9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.vehicle-name div.vehicle-type span .label-engine {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  line-height: 1.5;
  color: #9da5be;
  cursor: default;
}
.vehicle-name div.vehicle-type span:nth-child(4) {
  padding-right: 32px;
}
.vehicle-name div.vehicle-type span:nth-child(4) i.ion-close-round {
  right: 39px;
}
.vehicle-name div.vehicle-type span:nth-child(4) input {
  margin-right: 0;
}
.vehicle-name div.vehicle-type span:nth-last-child(2) {
  padding-right: 32px;
}
.vehicle-name input#model-number,
.vehicle-name input#model-number-a {
  width: 128px;
  font-weight: 600;
  text-transform: uppercase;
  color: #50c14e;
}
.vehicle-name input#model-number-a {
  color: #492a8b;
}
.vehicle-name .btn.btn-engine {
  color: #492a8b;
  border-color: #492a8b;
  background-color: #fff;
  width: 98px;
}
.vehicle-name .btn.btn-rise {
  width: 106px;
}
.btn {
  font: 600 14px 'Open Sans', sans-serif;
  line-height: 1.57;
  color: #fff;
  background-color: #5093e1;
  border-radius: 4px;
  border: 1px solid #5093e1;
  outline: none;
  padding: 8px 0;
  text-align: center;
  cursor: pointer;
}
.btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
:disabled {
  background-color: #9da5be;
  border: 1px solid #9da5be;
  color: #e6e8ee;
  cursor: not-allowed;
}
section.aircraft-status {
  background-color: #fbfbfb;
  padding: 8px 16px;
  font-size: 0;
  width: 1366px;
  margin: 0 auto;
  border-bottom: 1px solid #e6e8ee;
}
section.aircraft-status h3 {
  font-size: 12px;
  line-height: 1.5;
  color: #9da5be;
  display: inline-block;
  padding-right: 8px;
}
section.aircraft-status span {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: #50c14e;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
  border: solid 1px #50c14e;
  border-left-width: 4px;
  padding: 5px 25px 5px 8px;
  margin-right: 8px;
  background-color: #fff;
}
section.aircraft-status span i.ion-close-round {
  position: absolute;
  top: 50%;
  right: 8px;
  font-size: 12px;
  font-weight: 600;
  color: #d1d7e9;
  cursor: pointer;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
}
section.aircraft-status span.airplane-model {
  border-color: #492a8b;
  color: #492a8b;
}
section.aircraft-status span:last-child {
  margin-right: 0;
}
section.aircraft-status div.sailplane-status,
section.aircraft-status div.airplane-status {
  display: inline-block;
}
section.aircraft-status div.sailplane-status {
  width: 728px;
}
section.aircraft-status div.airplane-status {
  width: calc(100% - 728px);
  padding-left: 32px;
}
section.in-air {
  padding: 244px 0 24px;
}
section.in-air .in-air-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 24px 0 24px;
}
section.in-air .in-air-title h2 {
  color: #2f323a;
  font-size: 24px;
  line-height: 1.5;
}
section.in-air .in-air-title .amount-aircraft {
  font-size: 0;
}
section.in-air .in-air-title .amount-aircraft .show {
  font-size: 12px;
  line-height: 1.5;
  color: #9da5be;
  padding-right: 8px;
}
section.in-air .in-air-title .amount-aircraft a.baidge {
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  color: #5093e1;
  padding-right: 12px;
}
section.in-air .in-air-title .amount-aircraft a.baidge:last-child {
  padding-right: 0;
}
section.in-air .in-air-title .amount-aircraft a.active {
  color: #2f323a;
  text-decoration: underline;
}
section.in-air .in-air-wrap {
  padding-top: 24px;
}
section.in-air .in-air-wrap .item {
  padding: 8px 0 8px 24px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-align: center;
      align-items: center;
}
section.in-air .in-air-wrap .item:hover {
  background-color: #e6e8ee;
}
section.in-air .in-air-wrap .item:hover div.btn-landing {
  visibility: visible;
}
section.in-air .in-air-wrap .item:hover span.ion-edit {
  visibility: visible;
}
section.in-air .in-air-wrap .item .airplane-info,
section.in-air .in-air-wrap .item .sailplane-info {
  position: relative;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #d1d7e9;
  padding: 8px 0;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-align: center;
      align-items: center;
  font-size: 0;
}
section.in-air .in-air-wrap .item .airplane-info::before,
section.in-air .in-air-wrap .item .sailplane-info::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #50c14e;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
section.in-air .in-air-wrap .item .airplane-info div:not(:last-child)::after,
section.in-air .in-air-wrap .item .sailplane-info div:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 40px;
  background-color: #edeff5;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
}
section.in-air .in-air-wrap .item .airplane-info .info-mark,
section.in-air .in-air-wrap .item .sailplane-info .info-mark {
  position: relative;
  padding-left: 16px;
  width: 144px;
}
section.in-air .in-air-wrap .item .airplane-info .info-mark p.type,
section.in-air .in-air-wrap .item .sailplane-info .info-mark p.type {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.57;
  color: #50c14e;
  text-transform: uppercase;
}
section.in-air .in-air-wrap .item .airplane-info .info-mark p.model,
section.in-air .in-air-wrap .item .sailplane-info .info-mark p.model {
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.5;
  color: #9da5be;
}
section.in-air .in-air-wrap .item .airplane-info .info-cadet,
section.in-air .in-air-wrap .item .sailplane-info .info-cadet {
  position: relative;
  padding-left: 16px;
  width: 256px;
}
section.in-air .in-air-wrap .item .airplane-info .info-cadet span.cadet-number,
section.in-air .in-air-wrap .item .sailplane-info .info-cadet span.cadet-number {
  display: inline-block;
  border-radius: 4px;
  border: solid 1px #e6e8ee;
  padding: 0 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  color: #2f323a;
  background-color: #fbfbfb;
  margin-right: 8px;
  vertical-align: top;
}
section.in-air .in-air-wrap .item .airplane-info .info-cadet div,
section.in-air .in-air-wrap .item .sailplane-info .info-cadet div {
  display: inline-block;
}
section.in-air .in-air-wrap .item .airplane-info .info-cadet .cadet-name,
section.in-air .in-air-wrap .item .sailplane-info .info-cadet .cadet-name {
  font-size: 14px;
  line-height: 1.5;
  color: #2f323a;
}
section.in-air .in-air-wrap .item .airplane-info .info-cadet .cadet-air-time,
section.in-air .in-air-wrap .item .sailplane-info .info-cadet .cadet-air-time {
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.5;
  color: #9da5be;
}
section.in-air .in-air-wrap .item .airplane-info .info-cadet .cadet-air-time span,
section.in-air .in-air-wrap .item .sailplane-info .info-cadet .cadet-air-time span {
  font-weight: 700;
  font-style: italic;
  line-height: 1.5;
  color: #9da5be;
}
section.in-air .in-air-wrap .item .airplane-info .info-instructor,
section.in-air .in-air-wrap .item .sailplane-info .info-instructor {
  position: relative;
  padding-left: 16px;
  width: 316px;
}
section.in-air .in-air-wrap .item .airplane-info .info-instructor span.instructor-number,
section.in-air .in-air-wrap .item .sailplane-info .info-instructor span.instructor-number {
  display: inline-block;
  border-radius: 4px;
  border: solid 1px #e6e8ee;
  padding: 0 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  color: #2f323a;
  background-color: #fbfbfb;
  margin-right: 8px;
  vertical-align: top;
}
section.in-air .in-air-wrap .item .airplane-info .info-instructor span.single-number,
section.in-air .in-air-wrap .item .sailplane-info .info-instructor span.single-number,
section.in-air .in-air-wrap .item .airplane-info .info-instructor span.nobody-number,
section.in-air .in-air-wrap .item .sailplane-info .info-instructor span.nobody-number {
  visibility: hidden;
}
section.in-air .in-air-wrap .item .airplane-info .info-instructor div,
section.in-air .in-air-wrap .item .sailplane-info .info-instructor div {
  display: inline-block;
}
section.in-air .in-air-wrap .item .airplane-info .info-instructor .nobody,
section.in-air .in-air-wrap .item .sailplane-info .info-instructor .nobody {
  font-size: 14px;
  line-height: 1.5;
  color: #9da5be;
}
section.in-air .in-air-wrap .item .airplane-info .info-instructor .single,
section.in-air .in-air-wrap .item .sailplane-info .info-instructor .single {
  font-size: 14px;
  line-height: 1.5;
  color: #9da5be;
}
section.in-air .in-air-wrap .item .airplane-info .info-instructor .instructor-name,
section.in-air .in-air-wrap .item .sailplane-info .info-instructor .instructor-name {
  font-size: 14px;
  line-height: 1.5;
  color: #2f323a;
}
section.in-air .in-air-wrap .item .airplane-info .info-instructor .instructor-exercises,
section.in-air .in-air-wrap .item .sailplane-info .info-instructor .instructor-exercises {
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.5;
  color: #9da5be;
}
section.in-air .in-air-wrap .item .sailplane-info::before {
  background-color: #492a8b;
}
section.in-air .in-air-wrap .item .sailplane-info .sailplane-m p.type {
  color: #492a8b;
}
section.in-air .in-air-wrap .item .item-btn {
  display: inline-block;
  padding: 0 16px;
}
section.in-air .in-air-wrap .item .item-btn button {
  width: 124px;
}
section.in-air .in-air-wrap .item .item-btn.btn-landing {
  visibility: hidden;
  padding-right: 0;
}
section.in-air .in-air-wrap .item .item-btn .btn-separate {
  position: relative;
}
section.in-air .in-air-wrap .item .item-btn .btn-separate::before,
section.in-air .in-air-wrap .item .item-btn .btn-separate::after {
  content: '';
  position: absolute;
  top: 50%;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  width: 16px;
  height: 1px;
  background-color: #d1d7e9;
}
section.in-air .in-air-wrap .item .item-btn .btn-separate::before {
  left: -17px;
}
section.in-air .in-air-wrap .item .item-btn .btn-separate::after {
  right: -17px;
}
section.in-air .in-air-wrap .item span.ion-edit {
  font-size: 16px;
  color: #9da5be;
  cursor: pointer;
  visibility: hidden;
  padding-left: 16px;
}
section.in-air .in-air-wrap .item span.ion-edit:hover {
  color: #2f323a;
}
section.notice .notice-wrap {
  padding-right: 24px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -ms-flex-align: end;
      align-items: flex-end;
}
section.notice .airplane-notice,
section.notice .sailplane-notice {
  position: relative;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #d1d7e9;
  padding: 8px 0;
  margin-bottom: 16px;
  height: 76px;
  min-height: 76px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  font-size: 0;
  /*&:last-child {
      margin-bottom: 0;
    }*/
}
section.notice .airplane-notice::before,
section.notice .sailplane-notice::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #50c14e;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
section.notice .airplane-notice div:not(:last-child)::after,
section.notice .sailplane-notice div:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 58px;
  background-color: #edeff5;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
}
section.notice .airplane-notice .info-mark-notice,
section.notice .sailplane-notice .info-mark-notice {
  position: relative;
  padding-left: 20px;
  width: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
section.notice .airplane-notice .info-mark-notice .movement .movement-type,
section.notice .sailplane-notice .info-mark-notice .movement .movement-type {
  font-size: 14px;
  line-height: 1.5;
  color: #2f323a;
  padding-right: 4px;
}
section.notice .airplane-notice .info-mark-notice .movement .type,
section.notice .sailplane-notice .info-mark-notice .movement .type {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.57;
  color: #50c14e;
  text-transform: uppercase;
}
section.notice .airplane-notice .info-mark-notice .name-fly p span,
section.notice .sailplane-notice .info-mark-notice .name-fly p span {
  display: inline-block;
}
section.notice .airplane-notice .info-mark-notice .name-fly .pilot-number,
section.notice .sailplane-notice .info-mark-notice .name-fly .pilot-number {
  font-size: 12px;
  font-weight: 700;
  font-style: italic;
  line-height: 1.5;
  color: #9da5be;
  padding-right: 4px;
}
section.notice .airplane-notice .info-mark-notice .name-fly .pilot-name,
section.notice .sailplane-notice .info-mark-notice .name-fly .pilot-name {
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.5;
  color: #9da5be;
}
section.notice .airplane-notice .cancel-notice,
section.notice .sailplane-notice .cancel-notice {
  position: relative;
  width: 136px;
  margin: auto;
  text-align: center;
}
section.notice .airplane-notice .cancel-notice a,
section.notice .sailplane-notice .cancel-notice a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.57;
  color: #417eda;
}
section.notice .sailplane-notice::before {
  background-color: #492a8b;
}
section.notice .sailplane-notice .info-mark-notice.sailplane-n .movement .type {
  color: #492a8b;
}
section .notice-wrap > :nth-last-child(2) {
  opacity: .8;
}
section .notice-wrap > :nth-last-child(3) {
  opacity: .4;
}
